.no-notes {
  position: fixed;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.671);
  text-align: center;
  margin-top: 20%;
}

.DisplayGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.layer {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
